# Control Flow

we can control the flow using

1. Conditional statements ---- if,elif,else

2.using Loops/iterative statements ----- for,while

3.Transfer statements ---- break,continue,pass

# Conditional statements

In conditional statements we have

if

elif

else

In [15]:
# if you study well, you will get good job
# if user input is yes then "You will get good job" otherwise prepare well

In [3]:
prep = input("Are you preparing well : ")

if prep == "yes" :
     print("you will get good job")

Are you preparing well : yes
you will get good job

In [17]:
prep = input("Are you preparing well : ")

if prep == "yes" :
    print("you will get good job")

Are you preparing well : yes
you will get good job

In [18]:
prep = input("Are you preparing well : ")

if prep == "yes" :
    print("you will get good job")
    print("I learn more")
    print("I'm passionated for AI")

Are you preparing well : yes
you will get good job
I learn more
I'm passionated for AI

In [19]:
prep = input("Are you preparing well : ")

if prep == "yes" :
    print("you will get good job")
    print("I learn more")
    print("I'm passionated for AI")

Are you preparing well : No

In [20]:
'No' == "yes"

False

In [21]:
'yes' == "yes"

True

In [23]:
prep = input("Are you preparing well : ")

if prep == "yes" :
    print("you will get good job")
else:
    print("you will get failed")

Are you preparing well : No
you will get failed

a = 100, b = 200

100 > 200

In [24]:
a = 100
b = 200

if a > b:
    print("a is larger values")
else:
    print("b is greater")

b is greater

In [27]:
100 > 200

False

In [28]:
a > b

False

In [29]:
250 > 200

True

In [30]:
num1 = int(input("Enter a number : "))
num2 = int(input("Enter another number :: "))

if num1 > num2 :
    print('num1 is greater')
else:
    print("num2 is greater")

Enter a number : 45
Enter another number :: 56
num2 is greater

In [31]:
45 > 56

False

In [32]:
# ask user to enter email id and if it is valid print "valid Email" otherwise print "Invalid Email"

In [4]:
email = input("enter any email :")
if email.endswith("@gmail.com"):
    print("valid email")
else:
    print("Invalid email")

enter any email :vk18@gmail.com
valid email

In [5]:
# ask user to enter a input number and tell us whether it is even or odd(/,//,%)

In [14]:
num = int(input("enter the number :: "))
if (num % 2 == 0):
    print("number is even")
else:
    print("number is odd")

enter the number :: 18
number is even

In [ ]:
# Operators

1. Comparative operators

2.Logical operators and,or,not

In [16]:
a = 10
b = 20
a == b

False

In [17]:
(a>b) and (a==b)

False

In [18]:
False and False

False

In [19]:
(a < b) and (b > a)

True

In [25]:
a = int(input("enter a value :: "))
b = int(input("enter b value :: "))

if a > b :
    print("a is greater")
elif a == b :
    print("both are equal")
else:
    print("b is greater")

enter a value :: 20
enter b value :: 30
b is greater

In [ ]:
else + if = elif

if condition:  else:

In [ ]:
if condition:
    #code
elif condition:
    #code
else:
    #code

In [23]:
a = 10
b = 20
if a < b :
    print(a+b)
else:
    print(a-b)

30

In [24]:
a = 20
b = 20
if a < b :
    print(a+b)
else:
    print(a-b)

0

1.Basic IF statement

In [5]:
age = int(input("Enter your age : "))

if age >= 18:
    print("You are an adult")

Enter your age : 18
You are an adult

In [6]:
18 >= 18

True

2. With if-else condition

In [8]:
age = int(input("Enter your age : "))

if age >= 18:
    
    print("You are an adult")
else:
    print("You are a teenager")

Enter your age : 12
You are a teenager

3.with if-elif-else condition

In [9]:
age = int(input("Enter your age : "))

if age >= 18:
    print("You are an adult")
elif age <= 0:
    print("Enter valid age")
else:
    print("You are a teenager")

Enter your age : -100
Enter valid age

In [10]:
-100 < 0

True

Ask user to enter temperature..if temp > 30 then say it is too hot otherwise say it is cool

In [1]:
temp = int(input("Enter the temperature :: "))
if temp >= 30:
    print("weather is hot")
else:
    print("weather is cool")

Enter the temperature :: 29
weather is cool

In [ ]:
Grade calculator

Criteria:
1. if marks between 85-100 then "A" grade
2. if marks between 66-85 then "B" grade
3. if marks between 50-65 then "C" grade
4. if marks between 35-50 then "D" grade
5. if marks less than 35 then "Fail"

In [ ]:
marks >= 85 and marks <=100 -"A"
marks >= 65 and marks < 85 -"B"
marks >= 50 and marks < 65 -"C"
marks >= 35 and marks < 50 -"D"
marks < 35 ---"Fail"

In [1]:
marks = int(input("Enter your marks :: "))

if (marks >= 85) and (marks <= 100):
    print("A grade")
elif (marks >= 65) and (marks < 85):
    print("B grade")
elif (marks >= 50) and (marks < 65):
    print("C grade")
elif (marks >= 35) and (marks < 50):
    print("D grade")
else:
    print("Fail")

Enter your marks :: 45
D grade

In [2]:
marks = int(input("Enter your marks :: "))

if (marks >= 85) and (marks <= 100):
    print("A grade")
elif (marks >= 65) and (marks < 85):
    print("B grade")
elif (marks >= 50) and (marks < 65):
    print("C grade")
elif (marks >= 35) and (marks < 50):
    print("D grade")
elif(marks > 100) or (marks < 0):
    print("Enter valid marks")
else:
    print("Fail")

Enter your marks :: 99
A grade

In [7]:
batch = ["akshitha","vasavi","tejaswini","archana","ashu"]

In [8]:
type(batch)

list

if they are available then say present otherwise absent

In [9]:
"akshitha" in batch

True

In [10]:
"virat" in batch

False

In [13]:
if "Akshitha" in batch :
    print("she attented class")
else:
    print("she is not present")   #python is case sensitive

she is not present

In [14]:
if "akshitha" in batch :
    print("she attented class")
else:
    print("she is not present")

she attented class

Website login

# Signup/register

In [5]:
mail = input("Enter your mail ID : ")
pas = input("Enter password : ")
mobile = int(input("Enter mobile number : "))

Enter your mail ID : vk18@gmail.com
Enter password : virat18
Enter mobile number : 1548545

# Login/Sign in

In [7]:
mailID = input("Enter your mail ID to Login::")
password = input("Enter your password to Login::")

if (mailID == mailID) and  (password == password): 
    print("Welcome .....Login Sucessful")
else:
    print("Invalid Credentials")

Enter your mail ID to Login::vk18@gmail.com
Enter your password to Login::virat18
Welcome .....Login Sucessful

# Ternary Operator

In [3]:
temp = int(input("Enter temp: "))

if temp > 30 :
    print("It is Hot")
else:
    print("It is Cool")

Enter temp: 32
It is Hot

In [ ]:
x = firstvalue   if condition else secondvalue

In [3]:
temp = int(input("Enter temp::"))

"It is Hot"    if(temp > 30) else "It is Cool"

Enter temp::29

'It is Cool'

In [1]:
num = int(input("Enter a number::"))

"Even" if (num % 2 == 0) else "Odd"

Enter a number::15

'Odd'

# Tax calculator

In [ ]:
Rs 0 to 3 lakh - 0% tax rate
Rs 3 lakh to 6 lakh - 5%
Rs 6 lakh to 9 lakh - 10%
Rs 9 lakh to 12 lakh - 15%
Rs 12 lakh to 15 lakh - 20%
Above Rs lakh - 30%

In [3]:
income = float(input("Enter your annual income(lakhs)"))

if (income <= 3) and (income > 0):
    print("No Tax")
elif (income <= 6) and (income > 3):
    tax = income * 0.05
    print(f"you need to pay {tax}")
elif (income <= 9) and (income > 6):
    tax = income * 0.1
    print(f"you need to pay {tax}")
elif (income <= 12) and (income > 9):
    tax = income * 0.15
    print(f"you need to pay {tax}")
elif (income <= 15) and (income > 12):
    tax = income * 0.2
    print(f"you need to pay {tax}")
else:
    tax = income * 0.3
    print(f"you need to pay {tax}")

Enter your annual income(lakhs)3.5
you need to pay 0.17500000000000002

In [ ]:
1 lakh - 100 k - 100000

In [2]:
income = float(input("Enter your annual income(lakhs)"))

if (income <= 3) and (income > 0):
    print("No Tax")
    
elif (income <= 6) and (income > 3):
    tax = income * 0.05 * 100000
    print(f"you need to pay {tax}")
    
elif (income <= 9) and (income > 6):
    tax = income * 0.1 * 100000
    print(f"you need to pay {tax}")
    
elif (income <= 12) and (income > 9):
    tax = income * 0.15 * 100000
    print(f"you need to pay {tax}")
    
elif (income <= 15) and (income > 12):
    tax = income * 0.2 * 100000
    print(f"you need to pay {tax}")
    
else:
    tax = income * 0.3 * 100000
    print(f"you need to pay {tax}")

Enter your annual income(lakhs)8.6
you need to pay 86000.0

In [4]:
income = float(input("Enter your annual income(lakhs)"))

if (income <= 3) and (income > 0):
    print("No Tax")
    
elif (income <= 6) and (income > 3):
    tax = income * 0.05 * 100000
    print(f"you need to pay {tax}")
    
elif (income <= 9) and (income > 6):
    tax = income * 0.1 * 100000
    print(f"you need to pay {tax}")
    
elif (income <= 12) and (income > 9):
    tax = income * 0.15 * 100000
    print(f"you need to pay {tax}")
    
elif (income <= 15) and (income > 12):
    tax = income * 0.2 * 100000
    print(f"you need to pay {tax}")

elif income < 0:
    print("Enter valid income")
    
else:
    tax = income * 0.3 * 100000
    print(f"you need to pay {tax}")

Enter your annual income(lakhs)-6.2
Enter valid income

Nested if

if inside if

# Ticket vender machine

In [ ]:
age < 10 -Free-if "Girl" chocolate

age > 10 - 50

In [7]:
age = int(input("Enter your age:: "))

if age < 10:
    
    gender = input("What is your gender girl or boy:: ")
    
    if gender == "girl":
        print("Take chocolate")
    

else:
    print("pay 50 rupees")

Enter your age:: 7
What is your gender girl or boy:: girl
Take chocolate

In [10]:
age = int(input("Enter your age:: "))

if age < 10:
    
    gender = input("What is your gender girl or boy:: ")
    
    if gender == "girl":
        print("Take chocolate")
    else:
        print("respect Women")
    

else:
    print("pay 50 rupees")

Enter your age:: 7
What is your gender girl or boy:: boy
respect Women

In [12]:
# first method

In [13]:
num = int(input("Enter a number :: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number :: 6
Even

In [14]:
# Second method

In [15]:
num = int(input("Enter a number :: "))

"Even" if (num % 2 ) == 0 else "Odd"

Enter a number :: 5

'Odd'

In [17]:
# third method

In [18]:
num = int(input("Enter a number :: "))

("Odd","Even")[num % 2 == 0]

Enter a number :: 8

'Even'

 # Range

In [12]:
# it is used to represent a sequence of numbers
# it omits the last value

In [13]:
# syntax for range is

range(start,stop,step)

NameError: name 'start' is not defined

In [ ]:
range(1,25) #it dont give error but it creates an output

In [14]:
list(range(1,25))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [15]:
list(range(1,25,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [16]:
list(range(1,25,-1))

[]

In [17]:
list(range(25,0,-1)) # reversing concept

[25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [18]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
set(range(0,31,3))

{0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30}

# Iterative/Loop statements

if we want to execute a group of statements multiple times then we should go for Iterative

In [21]:
print("Hello")
print("Hai")
print("Bye")  # if we want to execute multiple times we have to use for loop/ while loop

Hello
Hai
Bye

In [23]:
for i in range(20):
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

# for loop

1.if we want to run multiple/single statements for multiple times

2.for loop stops untill it goes for last element

3.we can apply for loop on iterative/collection/sequence data type

syntax: for temp_variable in sequence/collection:
            || code | p suite
        
we can apply for loop on 
string
list
tuple
set
dictionary
range

for var in sequence:
    # block of codes

In [26]:
for i in "Innomatics":
    print(i + "H") # it is printing H after every alphabet and it is string concatenation

IH
nH
nH
oH
mH
aH
tH
iH
cH
sH

In [27]:
for i in "Innomatics":
    print(i)

I
n
n
o
m
a
t
i
c
s

In [29]:
for i in "Innomatics":
    print(i + " am ")

I am
n am
n am
o am
m am
a am
t am
i am
c am
s am

In [30]:
var = list(range(1,20))
var

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
for i in var:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [33]:
for i in var:
    print(i * i) # squares of i

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [34]:
for i in var:
    if i % 2 == 0:    #even
        print(i)

2
4
6
8
10
12
14
16
18

In [35]:
for i in var:
    if i % 2 == 1:
        print(i)       #odd

1
3
5
7
9
11
13
15
17
19

In [37]:
n = ("Hello","Hai","Bye")

In [39]:
for i in n:
    print(i)

Hello
Hai
Bye

In [40]:
# print 20-30 using range data in list

In [41]:
# print each and every element using for loop

In [50]:
num = list(range(20,30))

In [52]:
for i in num:
    print(i)

20
21
22
23
24
25
26
27
28
29

In [46]:
# name = "Innomatics Research Labs"
# print(i * n * n * o * m * a * t * i *  c * s)

In [105]:
name = "Innomatics Research Labs"

In [106]:
for i in name:
     print(i + "*" )

I*
n*
n*
o*
m*
a*
t*
i*
c*
s*
 *
R*
e*
s*
e*
a*
r*
c*
h*
 *
L*
a*
b*
s*

In [107]:
# Generate numbers from 100- 150 save those variable name in temp find the numbers which are divisible by 4

In [108]:
temp = list(range(100,150))

In [109]:
for i in temp:
    if i % 4 == 0:
        print(i)

100
104
108
112
116
120
124
128
132
136
140
144
148

In [110]:
# create a list of fruits and print the fruits which starts with vowel(a,e,i,o,u)

In [111]:
group = ["apple","orange","eagle","owl","unioncorn","icecream","starfruit","kiwi"]

In [112]:
for i in group:
    if i.startswith(('a','e','i','o','u')):
            print(i)

apple
orange
eagle
owl
unioncorn
icecream

In [113]:
# take numbers from 30-50 print the numbers which are divisible by both 2 and 5

In [114]:
num = list(range(30,50))

In [115]:
num

[30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [116]:
for i in num:
    if (i % 2 == 0) and (i % 5 == 0):
        print(i)

30
40

In [ ]:
name = ["Data Science","Data","Data Analyst","Tableau","SQL","Python","Statistics"]

print the values which are having more than 5 characters in it

In [118]:
name = ["Data Science","Data","Data Analyst","Tableau","SQL","Python","Statistics"]

In [119]:
for i in name:
    if len(i)>5:
        print(i)

Data Science
Data Analyst
Tableau
Python
Statistics

In [94]:
# take numbers from 1-20 print "hello" when no. is even and "bye" when no. is odd

In [96]:
num = list(range(1,20))

In [97]:
for i in num:
    if(i % 2 == 0):
        print("hello")
    elif(i % 2 == 1):
        print("bye")

bye
hello
bye
hello
bye
hello
bye
hello
bye
hello
bye
hello
bye
hello
bye
hello
bye
hello
bye

In [ ]:
create a dictionary atleast 5  fruits with prices the keys are fruits and values are prices

1.what are the fruits available in the basket = dictionary

2.write a prgm to know the price if i purchase 3 apples and 2 oranges

3.add fruit for every available fruit

4.find the average price of fruits

5.which fruit is containing less than 5 letters

In [128]:
basket = {"apple":50,"mango":80,"orange":30,"kiwi":75,"lychee":90}

In [129]:
basket

{'apple': 50, 'mango': 80, 'orange': 30, 'kiwi': 75, 'lychee': 90}

In [130]:
type(basket)

dict

In [ ]:
1. ask user to enter a number and find the sum of all numbers in the given range

In [5]:
num = int(input("enter the number : "))
sum(range(0,num))

enter the number : 6

15

In [7]:
num = int(input("enter the number : "))
val = list(range(0,num))

enter the number : 10

In [8]:
sum(val)

45

In [9]:
n = int(input("enter the number : "))

for i in range(n):
     print(i)

enter the number : 8
0
1
2
3
4
5
6
7

In [11]:
n = int(input("enter the number : "))

for i in range(n+1):         # including last number
     print(i)

enter the number : 6
0
1
2
3
4
5
6

In [14]:
n = int(input("enter the number : "))

total = 0
for i in range(n+1):         
    total = total + i

enter the number : 5

In [15]:
print(total)

15

In [20]:
n = int(input("enter the number : "))

total = 0
for i in range(n+1):         
    total = total + i 
print(total)

enter the number : 6
21

In [21]:
n = int(input("enter the number :: "))
total = 1
for i in range(n+1):
    total = total + i

enter the number :: 6

In [22]:
print(total)

22

In [23]:
n = int(input("enter the number :: "))
total = 1
for i in range(n+1):
    total = total + i
    print(total)

enter the number :: 6
1
2
4
7
11
16
22

In [24]:
n = int(input("enter the number :: "))
total = 1
for i in range(n):
    total = total + i
    print(total)

enter the number :: 7
1
2
4
7
11
16
22

In [25]:
n = int(input("enter the number :: "))
total = 0
for i in range(n+1):
    total = total + i
    print(total)

enter the number :: 6
0
1
3
6
10
15
21

In [26]:
n = int(input("enter the number :: "))
total = 1
for i in range(n+1):
    total = total + i

enter the number :: 5

In [27]:
print(total)

16

In [ ]:
take list of alphabets seperate vowels and consonants

In [25]:
alph = [chr(65+i) for i in range(0,26)]    # formula for generating alphabets

In [26]:
alph

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [27]:
v = ["A","E","I","O","U"]
for i in alph:
    if i in v:
        print("vowel =",i )
    else:
        print("cons =",i)

vowel = A
cons = B
cons = C
cons = D
vowel = E
cons = F
cons = G
cons = H
vowel = I
cons = J
cons = K
cons = L
cons = M
cons = N
vowel = O
cons = P
cons = Q
cons = R
cons = S
cons = T
vowel = U
cons = V
cons = W
cons = X
cons = Y
cons = Z

In [29]:
vowel = []
cons = []

In [30]:

for i in alph:
    if i in ["A","E","I","O","U"]:
        vowel.append(i)
    else:
        cons.append(i)

In [31]:
vowel

['A', 'E', 'I', 'O', 'U']

In [32]:
cons

['B',
 'C',
 'D',
 'F',
 'G',
 'H',
 'J',
 'K',
 'L',
 'M',
 'N',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [1]:
 frnds = ["varshu","sourav","rishi","tanishka","harshu"]

In [2]:
frnds

['varshu', 'sourav', 'rishi', 'tanishka', 'harshu']

In [5]:
for i in frnds:
    print(i + " is my best friend")  #we can use name instewad of i and also we can also use formatted string

varshu is my best friend
sourav is my best friend
rishi is my best friend
tanishka is my best friend
harshu is my best friend

# Nested for loop

for loop inside a for loop

In [8]:
for i in range(1,11):
    for j in range(1,11):
        print(f'{i} * {j} = {i * j}')
    print('\t')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
write a python code using for loop to find the values from 100 to 120

In [11]:
list1 = []
for i in range(100,120):
    list1.append(i)

In [12]:
list1

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

# List Comprehension

In [ ]:
write a python code using for loop to find the values from 100 to 12

In [ ]:
list1 = []
for i in range(100,120):
    list1.append(i)

In [13]:
[i for i in range(100,120)]

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

In [15]:
list1 = []
for i in range(100,120):
    list1.append(i ** 2)     # squares

In [16]:
[i ** 2 for i in range(100,120)]

[10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161]

In [17]:
list1 = []
for i in range(100,120):
    list1.append(i ** 0.5)     # square root

In [18]:
[i ** 0.5 for i in range(100,120)]

[10.0,
 10.04987562112089,
 10.099504938362077,
 10.14889156509222,
 10.198039027185569,
 10.246950765959598,
 10.295630140987,
 10.344080432788601,
 10.392304845413264,
 10.44030650891055,
 10.488088481701515,
 10.535653752852738,
 10.583005244258363,
 10.63014581273465,
 10.677078252031311,
 10.723805294763608,
 10.770329614269007,
 10.816653826391969,
 10.862780491200215,
 10.908712114635714]

In [24]:
 "Innomatics Research Labs"

'Innomatics Research Labs'

In [25]:
[i for i in "Innomatics Research Labs"]

['I',
 'n',
 'n',
 'o',
 'm',
 'a',
 't',
 'i',
 'c',
 's',
 ' ',
 'R',
 'e',
 's',
 'e',
 'a',
 'r',
 'c',
 'h',
 ' ',
 'L',
 'a',
 'b',
 's']

In [ ]:
find all even numbers from 20 to 50 using step

In [27]:
[i for i in range(20,51,2)] # finding even numbers using step

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [28]:
frnds = ["varshu","sourav","rishi","tanishka","virat"]

In [31]:
[i for i in frnds]

['varshu', 'sourav', 'rishi', 'tanishka', 'virat']

In [33]:
[i + " is my best friend" for i in frnds]

['varshu is my best friend',
 'sourav is my best friend',
 'rishi is my best friend',
 'tanishka is my best friend',
 'virat is my best friend']

# List Comprehension + Ternary OPerator

In [34]:
list3 = list(range(3,23))

In [36]:
list3

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

In [35]:
[i * 0 for i in list3]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [39]:
for i in list3:
    if(i % 3 == 0):
        print(i)

3
6
9
12
15
18
21

In [38]:
[i  for i in list3 if (i % 3 == 0)]

[3, 6, 9, 12, 15, 18, 21]

In [53]:
a = ['a','e','i','o','u']
name = "innomatics research labs"

In [54]:
for i in name:
    if i not in a:
        print(i)

n
n
m
t
c
s

r
s
r
c
h

l
b
s

In [55]:
a

['a', 'e', 'i', 'o', 'u']

In [56]:
name

'innomatics research labs'

In [57]:
[i for i in name if i not in a] # by using list comprehension method

['n',
 'n',
 'm',
 't',
 'c',
 's',
 ' ',
 'r',
 's',
 'r',
 'c',
 'h',
 ' ',
 'l',
 'b',
 's']

In [59]:
a = ['a','e','i','o','u']
name = "virat is inspiration to many young cricketers"

In [60]:
[i for i in name if i not in a]

['v',
 'r',
 't',
 ' ',
 's',
 ' ',
 'n',
 's',
 'p',
 'r',
 't',
 'n',
 ' ',
 't',
 ' ',
 'm',
 'n',
 'y',
 ' ',
 'y',
 'n',
 'g',
 ' ',
 'c',
 'r',
 'c',
 'k',
 't',
 'r',
 's']

In [62]:
[i for i in name if i  in a]

['i', 'a', 'i', 'i', 'i', 'a', 'i', 'o', 'o', 'a', 'o', 'u', 'i', 'e', 'e']

In [ ]:
find the odd numbers from 500 to 550 without using step but using list comprehension

In [63]:
list2 = list(range(500,550))

In [72]:
[i  for i in list2 if (i %2 == 1)]  #odd

[501,
 503,
 505,
 507,
 509,
 511,
 513,
 515,
 517,
 519,
 521,
 523,
 525,
 527,
 529,
 531,
 533,
 535,
 537,
 539,
 541,
 543,
 545,
 547,
 549]

In [ ]:
create a list of a-z  using list comprehension

In [84]:
[chr(97+i) for i in range(0,26)] #by using list comprehension

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

# Pattern Programming

In [87]:
for i in range(1,10):
    print(" * " * i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *

In [89]:
for i in range(1,10):
    print(" 1" * i)

 1
 1 1
 1 1 1
 1 1 1 1
 1 1 1 1 1
 1 1 1 1 1 1
 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1

In [95]:
for i in range(1,10):
    print(f" {i}" * i)

 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5
 6 6 6 6 6 6
 7 7 7 7 7 7 7
 8 8 8 8 8 8 8 8
 9 9 9 9 9 9 9 9 9

In [99]:
for i in range(10,0,-1):
    print(" * " * i)               #reversing

 *  *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *  *
 *  *  *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [105]:
for i in range(10,0,-1):
    print(f"{i} " * i)

10 10 10 10 10 10 10 10 10 10
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [109]:
n = int(input("enter the no. of rows ::"))
for i in range(1,n+1):
    print(" *" * i)

enter the no. of rows ::8
 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *

In [113]:
n = 7
for i in range(1,n):
    print(" " * (n-i) +' * ' * i)

       *
      *  *
     *  *  *
    *  *  *  *
   *  *  *  *  *
  *  *  *  *  *  *

In [144]:
n = 7
for i in range(n,0,-1):
    print(" " * (n-i) + ' *' * i)

 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [127]:
n = 7
for i in range(1,n):
    print(" " *(n-i) +' *'* i)  
for i in range(n,0,-1):
    print(" " *(n-i) +' *'* i)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [126]:
n = 7
for i in range(1,n):
    print(" " *(n-i) +' 1'* i)  
for i in range(n,0,-1):
    print(" " * (n-i) +' 2' * i)

       1
      1 1
     1 1 1
    1 1 1 1
   1 1 1 1 1
  1 1 1 1 1 1
 2 2 2 2 2 2 2
  2 2 2 2 2 2
   2 2 2 2 2
    2 2 2 2
     2 2 2
      2 2
       2

In [129]:
for i in range(1,11):
    print('* '*10)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [132]:
for i in range(1,6):
    print("* " * 5)                 # to print the below output

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [134]:
for i in range(1,6):
    print(f' {i}' * 5)

 1 1 1 1 1
 2 2 2 2 2
 3 3 3 3 3
 4 4 4 4 4
 5 5 5 5 5

In [167]:
for i in range(1,6):
    print(f' {chr( 64 + i)}' * i)

 A
 B B
 C C C
 D D D D
 E E E E E

In [145]:
n = 6
for i in range(1,n):
    print("* " * i + ' '*(n-i))

*
* *
* * *
* * * *
* * * * *

In [152]:
n = 6
for i in range(1,6):
    print(f' {i}' * i)

 1
 2 2
 3 3 3
 4 4 4 4
 5 5 5 5 5

In [162]:
n = 6
for i in range(1,6):
    print(f' { chr(70 + i)}' * i)

 G
 H H
 I I I
 J J J J
 K K K K K

In [163]:
n = 6
for i in range(1,6):
    print(f' { chr(64 + i)}' * i) # upper case

 A
 B B
 C C C
 D D D D
 E E E E E

In [164]:
n = 6
for i in range(1,6):
    print(f' { chr(96 + i)}' * i)  # lower case

 a
 b b
 c c c
 d d d d
 e e e e e

In [168]:
for i in range(1,6):
    print( (chr(96 + i)+' ') * i)  # lower case

a
b b
c c c
d d d d
e e e e e

# While Loop

syntax for while loop :
    
    while condition:
        
        #block of code

1. if the condition is true it will enter into block of code
 
2. it is uncontrollable action means it repeats n no. of times 

3. by default the condition is true

4. to make it controllable we have to make the condition false ,it to come out of the loop or else it will repeated infinite times

In [169]:
a = 10
while a > 5:
    print("Hello")
    a = a -1

Hello
Hello
Hello
Hello
Hello

In [170]:
#generate 1 to 20 numbers using for loop and while loop

In [173]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [171]:
a = 1

while a <=20:
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [174]:
#print the numbers from 10 t0 1 in reverse order using for loop and while loop

In [185]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [186]:
a = 10

while a >= 0:
    print(a)
    a = a -1

10
9
8
7
6
5
4
3
2
1
0

In [187]:
# print A to Z using for loop and while loop

In [194]:
[chr(65+i) for i in range(0,26)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [199]:
a = 1

while a <= 26:
    print(chr(64+a))
    a = a+1

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [3]:
# Guessing the Number Game

In [4]:
import random
num = random.randint(0,10)

attempts = 3

while attempts > 0:
    user = int(input("Guess the number : "))
    if user == num:
        print("You won the game")
    else:
        attempts = attempts -1
        print(f"you have {attempts} attempts only")
        if attempts == 0:
             print("You lost the game")

Guess the number : 5
you have 2 attempts only
Guess the number : 7
you have 1 attempts only
Guess the number : 8
you have 0 attempts only
You lost the game

In [5]:
import random
num = random.randint(0,10)

attempts = 3

while attempts > 0:
    user = int(input("Guess the number : "))
    if user == num:
        print("You won the game")
        break
    else:
        attempts = attempts -1
        print(f"you have {attempts} attempts only")
        if attempts == 0:
             print("You lost the game")

Guess the number : 4
you have 2 attempts only
Guess the number : 3
You won the game

# factorial

In [6]:
# Find factorial of a given number using while loop

In [7]:
n = int(input("enter a number to find factorial :: "))
fact = 1
while n > 0:
    fact = fact * n
    n = n - 1
print(fact)

enter a number to find factorial :: 6
720

In [8]:
n = int(input("enter a number to find the factorial :: "))
fact = 1
if n > 0:
    while n> 0:
        fact = fact * n
        n = n - 1
    print(fact) 
else:
    print("enter a positive number only ")

enter a number to find the factorial :: -5
enter a positive number only

# Palindrome

In [12]:
name = (input("enter a name:: "))

while name:
    
    if name == name [::-1]:
        print("It is a palindrome")      #here instead of 0 we can use 0.0,0,false
        name = 0
    else: 
        print("It is not a palindrome")
        name = ''

enter a name:: 1881
It is a palindrome

In [13]:
name = (input("enter a name:: "))

while name:
    
    if name == name [::-1]:
        print("It is a palindrome")      #here instead of 0 we can use 0.0,0,false
        name = 0
    else: 
        print("It is not a palindrome")
        name = ''

enter a name:: sourav
It is not a palindrome

In [14]:
# reverse indexing

In [19]:
inst = input("enter a name::")

for i in range(-1,-len(inst)-1,-1):
    print(inst[i])

enter a name::hello
o
l
l
e
h

In [20]:
# forward slicing

In [27]:
inst = input("enter a name :: ")

for i in range(len(inst)-1,-1,-1):
    print(inst[i])

enter a name :: virat
t
a
r
i
v

In [28]:
name = input("enter a name ::")

index = len(name)

while index >= 1:
    print(name[index - 1])
    index = index - 1

enter a name ::akshitha
a
h
t
i
h
s
k
a

In [29]:
# find the no. of vowels and cons in given input using while loop

In [38]:
var = input("enter a name :: ")
vowels = ("a","e","i","o","u",'A','E','I','O','U')
 
ov = 0
con = 0

while var :
    
    for i in var:
        
        if i in vowels:
            ov = ov + 1
        else:
            con = con + 1
            
    break
print("vowels are", ov)
print("consonants are", con)

enter a name :: viratkohli
vowels are 4
consonants are 6

In [32]:
print(f" vowels are", {ov})
print(f" consonants are",{con})

 vowels are {4}
 consonants are {6}

# Transfer statements

1. break -----it stops the execution and comes out or exits from the loop

2. continue ------ skips the current iteration/value

3. pass ----- nothing / none

# 1.break -----it stops the execution and comes out or exits from the loop

In [33]:
price = [100,500,1000,1500,2000,5000,6000,70000,8000]

In [34]:
for i in price:
    if i <= 5000:
        print(i)
    else:
        break

100
500
1000
1500
2000
5000

In [36]:
for i in range(1,100):
    if i <= 20:
        print(i)
    else:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# 2.continue ------ skips the current iteration/value

In [53]:
price = [100,1000,500,1500,6000,5000,2000,7000]

In [54]:
for i in price:
    
    if i<= 5000:
        print(i)
    else:
        continue

100
1000
500
1500
5000
2000

In [39]:
# take atleast 5 fruits print all fruits which ends with 'e' using continue

In [40]:
fruits = ["apple","orange","lychee","kiwi","mango","grape"]

In [49]:

for i in fruits:

    if i.endswith('e'):
            print(i)
    else:
        continue

apple
orange
lychee
grape

In [50]:
for i in fruits:
    
    if i.endswith('e'):
        continue
    else:
        print(i)

kiwi
mango

# 3. pass --- nothing

In [51]:
for i in range(1,10):
    pass

In [52]:
def add(a,b):
    pass

In [55]:
# take a range of 10 to 25 values print all the values except 10,15,17 using continue/break/pass

In [62]:
for i in range(1,26):
    if i in (10,15,17):
        continue
    else:
        print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
16
18
19
20
21
22
23
24
25

In [65]:
# Take values from 100 to 150 skip the values which are divisible by 3 and 5 and break the loop when the value is greater than 146

In [2]:
for i in range(100,150):
    if i < 146:
        if(i%3==0) and(i%5==0):
            continue
        else:
            print(i)
            
    else:
        break

100
101
102
103
104
106
107
108
109
110
111
112
113
114
115
116
117
118
119
121
122
123
124
125
126
127
128
129
130
131
132
133
134
136
137
138
139
140
141
142
143
144
145

In [71]:
# ask user input to give a name which should contain atleast 6 letters if less than 6 letters print invalid input 
# from user input remove vowels print only consonants

In [5]:
user = input("enter the name ::")
vowels = ["a","e","i","o","u","A","E","I","O","U"]

if len(user)>=6:
        for i in name:
            if i in vowels:
                continue
            else:
                print(i)
else:
    print("enter valid input ")

enter the name ::akki
enter valid input

In [7]:
name = input("enter a name:: ")
vowels = ["a","e","i","o","u","A","E","I","O","U"]

if len(name)<6:
    print("invalid input")

else:
    for i in name:
        if i in vowels:
            continue

        else:
            print(i)

enter a name:: akki
invalid input

In [1]:
name = input("enter a name:: ")
vowels = ["a","e","i","o","u",]

if len(name)>6:
    print("valid input")

else:
    for i in name:
        if i in vowels:
            continue

        else:
            print(i)

enter a name:: viratkohli
valid input