Functions are of two types

1. predefined 

2. user defined/custom function

predefined ---- by default       ------------------- custom/user defined

print() ----------------------------------------------- programmer

input()

len()

type()

user defined/custom

1.first we need to define a function(creating a function)

2. then we have to call function which we have created

# create/defining the function

In [ ]:
def function_name(parameters/arguments):
    ''' doc string '''   # if we want to write description then use doc string with triple quotes
    #block of code
    return

def ----> it is a keyword used to create or define a function

function_name------> should obey identifier rules

parameters/arguments -----> inputs for block of code

doc string -----> description about the function

block of code -----> logics

return ---->optional

In [20]:
def innom():
    
        ''' This is sample function '''
       
        print("Iam learning python")   # creating the function
        return "Happy learning"

# calling the function

function_name(parameters/arguments)

In [21]:
innom()          # calling the function

Iam learning python

'Happy learning'

In [22]:
# create a function using your name and it should be your city name

In [23]:
def akshitha():
    '''This is a class task'''
    print("Iam from Maharashthra")
    return "Welcome to my city"

In [24]:
akshitha()

Iam from Maharashthra

'Welcome to my city'

In [35]:
def fun():
    print("hello world")
fun()

hello world

In [36]:
def func():
    return "hello world"
fun()

hello world

In [38]:
def func():
    return "Innomatics"

In [39]:
func()

'Innomatics'

In [40]:
fun()   #print
func()  #return

hello world

'Innomatics'

In [42]:
type(fun())

hello world

NoneType

In [43]:
def str1():
    print("Hello")
def str2():
    print("World")

In [45]:
str1() + str2()    # it shows error because the print function only displays/shows the output

Hello
World

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [46]:
def str3():
    return "Hello"
def str4():
    return "World"

In [47]:
str3() + str4()  # it doesn't show any error because return type always stores the function

'HelloWorld'

In [49]:
"Hello" + "World"  #here we can do concatenation of two strings and it stores the values in function

'HelloWorld'

In [50]:
# Types of arguments 
1.positional arguments ----> based upon the position

2. keyword args

3. default args

4. variable length args

# positional/ position based arguments

it is used based upon the position

In [64]:
def add(a,b):
    print(a+b)

In [65]:
add(10,8)

18

In [66]:
def sub(a,b):
    print(a-b)

In [67]:
sub(28,10)

18

In [68]:
# adding 4 numbers

In [69]:
def sum(p,q,r,s):
    print(p+q+r+s)

In [70]:
p = int(input("enter the p value "))
q = int(input("enter the q value "))
r = int(input("enter the r value "))
s = int(input("enter the s value "))
sum(p,q,r,s)

enter the p value 2
enter the q value 4
enter the r value 6
enter the s value 6
18

In [71]:
def even(num):
    if (num%2 == 1):
        print("odd")
    else:
        print("even")

In [72]:
even(18)

even

# Keyword based arguments

assigning the values at the time of calling the function

In [74]:
def sub(x,y):
    print(x-y)

In [75]:
sub(x = 45 , y = 100)

-55

In [76]:
sub(y = 100 , x = 45)

-55

In [79]:
def div(a,b):
    print(a/b)

In [80]:
div(a = 100 , b = 20)

5.0

In [81]:
div(b = 20 , a = 100)

5.0

In [82]:
 def sub(x,y):
        print(x-y)

In [83]:
sub(x = 10 , y = 4)

6

In [84]:
sub(100 , y = 20)

80

In [86]:
sub(100, x = 20) #got multiple values for argument 'x'

TypeError: sub() got multiple values for argument 'x'

In [89]:
sub(y = 18, 8) # positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (1829687123.py, line 1)

In [90]:
sub(28 , y = 10)

18

# Default parameters

it is called at the time of creating

In [2]:
def wishes(name):
    print(f"Hello {name} welcome")

In [3]:
wishes(name = "Sourav")

Hello Sourav welcome

In [4]:
name = input("Enter your name :: ")
wishes(name)

Enter your name :: sourav
Hello sourav welcome

In [5]:
def wishes(name = 'user'):
    print(f"Hello {name} welcome to Innomatics")

In [6]:
wishes()

Hello user welcome to Innomatics

In [7]:
wishes(name = input("enter your name :: "))

enter your name :: Akshitha
Hello Akshitha welcome to Innomatics

In [8]:
# create a function which accepts 3 numbers make sum of 3 numbers do the task using position,keyword and default arguments

In [11]:
def sum1(a,b,c):
    print(a+b+c)

In [16]:
sum1(5,10,3) #positional arguments

18

In [21]:
sum1( 10 ,b = 5, c= 3) #keyword  arguments

18

In [24]:
def sum1(a,b,c = 10):
    print(a+b+c)        # default  arguments

In [25]:
sum1(10,12)

32

In [26]:
sum(10,12,c = 20)

42

# Variable length arguments

In [34]:
def add(x,y,z):
    print(x+y+z)
add(10,20,30)

60

In [1]:
def add(*n):
    return sum(n)

In [2]:
add(1,2,3)

6

In [4]:
# create a function that accepts multiple no.of inputs and returns to avg of given numbers

In [7]:
def average(a):
    return(sum(a)/len(a))

In [11]:
average([3,5,8])

5.333333333333333

In [12]:
# create a function that accepts multiple inputs as string find the input which is containing more letters

In [108]:
def maxim(*n):
    max_length = 0
    max_string = ''
    for i in n:
        if len(i) > max_length:
            max_length = len(i)
            max_string = i
            
    print(max_string)

In [109]:
maxim("Rishi","Sourav","Tanishka","Akki","Viratkohli")

Viratkohli

In [110]:
# create a function that accepts multiple numbers find the minimum value

In [5]:
def find_min(b):
    print(min(b))
b = [5,7,8,10,12,9]
find_min(b)

5

# Variable length key values

In [115]:
def fun(**n):
    for i in n.items():
        print(i)

In [116]:
fun(name = "Sourav", city = "Maharasthra", course = "Data Analyst")

('name', 'Sourav')
('city', 'Maharasthra')
('course', 'Data Analyst')

1. when the variable is called inside the function is known as Local variable

2.when the variable is called outside the function then it is known as Global variable

3.we can make the local variable as Global variable using global keyword

In [6]:
def mul(a,b):
    c = 10  #local variable
    print(a*b*c)

In [7]:
mul(1,2)

20

In [8]:
z = 25 #global variable
def add(x,y):
    print(x+y+z)

In [9]:
add(10,18)

53

In [13]:
def virat(p,q):
    global r
    r = 20
    print(p+q+r)

In [15]:
virat(10,18)  #we can make the local variable as Global variable using global keyword

48

# Lambda Function

Lambda function is a nameless or  annonymous function

syntax - lambda parameters : Expression/logic

In [3]:
def square(n):
    return n ** 2   #traditional method
square(5)

25

lambda parameters : expressions/logic

In [6]:
lambda n : n ** 2

In [7]:
c = lambda n : n ** 2
c(5

25

In [8]:
# sum of given numbers

In [10]:
def add(*n):
    return sum(n)

In [11]:
add(1,2,3,4,5)

15

In [12]:
c = lambda *n : sum(n)

In [13]:
c(1,2,3,4,5,6,7,8,9)

45

In [14]:
#create a lambda function to find square root of given values

In [43]:
a = lambda n :  n ** 0.5

In [45]:
a(18)

4.242640687119285

In [35]:
#create a lambda function that will perform addition of three numbers

In [46]:
c = lambda x,y,z : x+y+z

In [47]:
c(8,2,8)

18

# Recursive/Recursion Functions

the function in the same function or the function that calls itself

In [54]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        fact = n * factorial(n-1)
    return fact

In [56]:
factorial(18)

6402373705728000

# Fibonacci sequence

In [57]:
def fib(n):
    if n <=1:
        return n
    else:
        return fib(n-1) + fib(n-2)

In [58]:
n = 8
for i in range(n):
    print(fib(i))

0
1
1
2
3
5
8
13

In [66]:
# ask user to enter a number to find the numbers of sequence in fibonacci sequence

In [3]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1) + fib(n-2)

In [4]:
n = int(input("enter the number :: "))
for i in range(n):
    print(fib(i))

enter the number :: 12
0
1
1
2
3
5
8
13
21
34
55
89

# Filter Function

based upon some conditions we are going to filter the function

syntax: filter(function name ,sequence)  sequence can be list, tuple, dictionary or string

In [9]:
def even(n):
    if n%2 == 0:
        return n

In [13]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [14]:
filter(even,list1)

In [15]:
list(filter(even,list1))

[2, 4, 6, 8, 10]

In [18]:
lambda x : x%2 == 0,[2,5,7,9,10,15,25]

(<function __main__.<lambda>(x)>, [2, 5, 7, 9, 10, 15, 25])

In [19]:
filter(lambda x : x%2 == 0,[2,5,7,9,10,15,25])

In [20]:
list(filter(lambda x : x%2 == 0,[2,5,7,9,10,15,25]))

[2, 10]

In [22]:
def odd(n):
    if n%2 == 1:
        return n

In [23]:
list(filter(lambda a: a%2 == 1,[1,3,2,5,7,9,4,6,8]))

[1, 3, 5, 7, 9]

In [34]:
# using filter function find only positive values in [1,-10,2,0,15,21,56,-1,0.5,-3]

In [35]:
list(filter(lambda n : n >= 0,[1,-10,2,0,15,21,56,-1,0.5,-3]))

[1, 2, 0, 15, 21, 56, 0.5]

In [41]:
tuple(filter(lambda n : n >= 0,[1,-10,2,0,15,21,56,-1,0.5,-3]))

(1, 2, 0, 15, 21, 56, 0.5)

# Map/Mapping Function

# Map()

 functionlity on each and every element present in the sequence

In [10]:
def fun(n):
    if n %2 == 0:
        return "Even"
    else:
        return "Odd"

In [11]:
values = list(range(51,65))
values

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64]

In [12]:
list(map(fun,values))

['Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [13]:
list2 = [1,-10,2,0,15,21,56,-1,0.5,-3]

def f(n):
    if  n >= 0:
        return "Positive"
    else:
        return "Negative"

In [14]:
set(map(f,list2))  # set does not allow duplicate values

{'Negative', 'Positive'}

In [15]:
list(map(f,list2))

['Positive',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative']

In [16]:
# take combination of integers,float and string print only float values
# print only strings
# replace integer values with a name called integer, float values as float,str as string

In [17]:
val = (10,18,0.5,1.8,"virat","sourav",2.5,30)

In [18]:
def var(a):
    if type(a) == float:
        return val

In [19]:
list(filter(var,val))

[0.5, 1.8, 2.5]

In [20]:
def var(a):
    if type(a) == str:
        return val

In [21]:
list(filter(var,val))

['virat', 'sourav']

In [22]:
def var(a):
    if type(a) == int :
        return " Integer "
    elif type(a) == str :
        return " String "
    else:
        return " Float "

In [23]:
list(map(var,val))

[' Integer ',
 ' Integer ',
 ' Float ',
 ' Float ',
 ' String ',
 ' String ',
 ' Float ',
 ' Integer ']

# reduce()

reduce()----- it returns to a single value

In [29]:
from functools import reduce

In [30]:
def add(x,y):
    return x + y

In [31]:
val = list(range(1,10))

In [32]:
reduce(add,val)

45

In [33]:
def fact(a,b):
    return a*b

In [34]:
n = int(input("Enter a number to find the factorial :: "))
seq = tuple(range(1,n+1))
reduce(fact,seq)

Enter a number to find the factorial :: 5

120

# zip()

zip() function can be used in dictionary

In [61]:
fruits = ["Apple","Mango","Banana","Lychee","Grapes","Orange"]
veg = ("Tomato","Carrot","Potato")
number = (1,2,3,4,5,6)
for i in zip(fruits,veg,number):
    print(i)

('Apple', 'Tomato', 1)
('Mango', 'Carrot', 2)
('Banana', 'Potato', 3)

In [62]:
fruits = ["apple","mango","banana","lychee","grapes","orange"]
veg = ("Tomato","Carrot","Potato","Onion")
number = (1,2,3,4,5,6)
for i in zip(fruits,veg,number):
    print(i)

('apple', 'Tomato', 1)
('mango', 'Carrot', 2)
('banana', 'Potato', 3)
('lychee', 'Onion', 4)

# enumerate

1.use to count the number of iterations

2.if we want to assign an index number

In [63]:
for i in enumerate(fruits):
    print(i)

(0, 'apple')
(1, 'mango')
(2, 'banana')
(3, 'lychee')
(4, 'grapes')
(5, 'orange')

In [64]:
for i in enumerate(fruits,1):
    print(i)

(1, 'apple')
(2, 'mango')
(3, 'banana')
(4, 'lychee')
(5, 'grapes')
(6, 'orange')

In [65]:
for i in enumerate(veg,1):
    print(i)

(1, 'Tomato')
(2, 'Carrot')
(3, 'Potato')
(4, 'Onion')

In [66]:
for i in enumerate(number,1):
    print(i)

(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)

In [68]:
 # create a function that accepts multiple values and return to sum of all numbers 
  #   1.using normal method
  #   2.using lambda function
  #   3.using reduce function

In [5]:
def val(*n):
    return sum(n)  #normal method
val(3,1,6,8)

18

In [7]:
a = lambda * n : sum(n)
a(10,20,47)                #using lambda

77

In [14]:
from functools import reduce   #using reduce function

In [15]:
def sum(x,y):
    return x+y

In [16]:
val = list(range(1,10))

In [17]:
reduce(sum,val)

45

In [18]:
# web = ["www.fb.com","https://insta.com","www.innomatics.com","ww.hdfc","htt.oracle.com","www.Hyd.co.in"]
#find the valid websites using
#1.procedure
#2.function
#3.lambda
#4.filter

In [36]:
#prodecure
web =["www.fb.com","https://insta.com","www.innomatics.com","ww.hdfc","htt.oracle.com","www.Hyd.co.in"]
for i in web:
    if i.startswith(('www','https://')) and i.endswith(('.com','co.in')):
        print(i)

www.fb.com
https://insta.com
www.innomatics.com
www.Hyd.co.in

In [53]:
# function
def valid(*n):
    for i in n:
        if i.startswith(('www.','https://')) and i.endswith(('.com','co.in')):
            print(i)

In [55]:
valid()

In [51]:
# lambda
c = lambda i :i.startswith(('www.','https://')) and i.endswith(('.com','co.in'))
for i in web :
    if c(i) == True:
        print(i)

www.fb.com
https://insta.com
www.innomatics.com
www.Hyd.co.in

In [48]:
# filter
list(filter(valid,web))

www.fb.com
https://insta.com
www.innomatics.com
www.Hyd.co.in

[]